body {
    margin: 0;
    padding: 0;
    background-color: #1d2634;
    color: #9e9ea4;
    font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
    font-size: 35px;
}

/* .grid-container {
    display: grid;
    grid-template-columns: 190px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
} */

/*----------HEADER----------*/
.header {
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
    display: none;
}

/*----------SIDEBAR----------*/
/* #sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #263043;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 30px 30px;
    margin-bottom: 30px;
}

.sidebar-title > span {
    display: none;
}
.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}

.sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
}

.sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
}

.sidebar-list-item:hover {
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}

.sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
} */

/*----------MAIN----------*/
.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255,255,255,0.95);
}

.main-title {
    display: flex;
    justify-content: space-between;
}

.main-cards {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    gap: 20px;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 5px;
}
/* ph sensor */
.card:first-child {
    background-color: #ef5032;
    color: #fefcfb;
    font-weight: bold;
}

/* dissolved oxygen */
.card:nth-child(2) {
    background-color: #fcb913;
    color: #121413;
    font-weight: bold;
}

/* temperature */
.card:nth-child(3) {
    background-color: #bebfc1;
    color: #121413;
    font-weight: bold;
}

/* turbidity */
.card:nth-child(4) {
    background-color: #814415;
    font-weight: bold;
}

.card-inner > .material-icons-outlined {
    font-size: 30px;
}

/* .card-inner h2 {
    margin-left: 3px;
    display: inline-flex;
    color: #fefcfb;
} */

/* number generator */
.ph_number_generator span {
    margin-top: 15px;
    display: inline-flex;
    color: #fefcfb;
    font-size: 45px;
}

.do_number_generator span {
    margin-top: 15px;
    display: inline-flex;
    color: #121413;
    font-size: 45px;
}

.temp_number_generator span {
    margin-top: 15px;
    display: inline-flex;
    color: #121413;
    font-size: 45px;
}

.turb_number_generator span {
    margin-top: 15px;
    display: inline-flex;
    color: #fefcfb;
    font-size: 45px;
}

.charts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* grid-template-columns: 1fr; */
    gap: 20px;
    margin-top: 0px;
}

.charts-card {
    background-color: #121413;
    margin-bottom: 0px;
    padding: 25px;
    box-sizing: border-box;
    -webkit-column-break-inside: avoid;
    border-radius: 5px;
    box-shadow: 0 6px 7px -4px rgba(0,0,0,0.2);
}

.chart-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* chart card configuration */

/* ph chart */
.charts-card:nth-child(1) {
    background-color: #ef5032;
    color: #fefcfb;
}

/* do chart */
.charts-card:nth-child(2) {
    background-color: #fcb913;
    color: #121413;
}

/* temp chart */
.charts-card:nth-child(3) {
    background-color: #bebfc1;
    color: #121413;
}

/* tur chart */
.charts-card:nth-child(4) {
    background-color: #814415;
    color: #fefcfb;
}